
.topnav {
    position: relative;
    background: var(--nav-bg);
    box-shadow: 4px 0 10px -3px #010101;
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: top .3s ease;
    border-bottom: 1px solid var(--nav-bg);
    font-size: 1.2rem;
    height: 4em;
}
  
.topnav-links  {
    display: flex;
    align-items: center;

    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.topnav-links a {
    font-family: "Alfa Slab One";
    color: #b2becd;
    transition: color .3s;
    margin-right: 20px;
}
.topnav-links a:hover {
    color: #dfe9f5;
}
